function Main.main 0
push constant 1
call Output.printInt 1
pop temp 0
push constant 32626
push constant 2
call Math.multiply 2
call Output.printInt 1
pop temp 0
push constant 32626
push constant 10000
add
call Output.printInt 1
pop temp 0
push constant 0
return
